.app{
    overflow: hidden;
}
/*Header*/
.header{
    height: var(--header-height);
    /*Biến đổi giữa 2 màu*/
    background-image: linear-gradient(0,#fe6433,#f53e2d);
}
.header__navbar{
    display: flex;
    /*Cho 2 thẻ nằm cách nhau 1 khoảng ở giữa*/
    justify-content:space-between ;
}
.header__navbar-list{
    /*Mất dấu chấm ở trước các dòng*/
    list-style: none;
    padding-left: 0;
    margin: 4px 0px 0px;
    display: flex;
    align-items: center;
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}
.header__navbar-user{
    display: flex;
    justify-items: center;
    position: relative;
}
.header__navbar-user-name{
    font-size: 1.4rem;
    margin-left: 4px;
    font-weight: 400;
}
.header__navbar-user-img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.header__navbar-user-menu{
    position:absolute;
    top:calc(100% + 6px);
    background-color: var(--while-color);
    right:0;
    width: 160px;
    border-radius: 2px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    padding: 0px;
    z-index: 1;
    display: none;
}
.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}
.header__navbar-user-menu::before{
    content: "";
    border-width: 20px 26px;
    border-style:  solid;
    border-color: transparent transparent  var(--while-color) transparent;
    position:absolute;
    right: 4px;
    top: -29px;
}
.header__navbar-user-menu::after{
    content: "";
    position:absolute;
    display: block;
    top:-8px;
    width:60%;
    height: 8px;
}
.header__navbar-user-item{
    z-index: 2;
}
.header__navbar-user-item a{
    text-decoration: none;
    color:var(--text-color);
    font-weight: 400;
    font-size: 1.4rem;
    padding: 8px 16px;
    display: block;
}
.header__navbar-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__navbar-user-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__navbar-user-item a:hover {
    background-color: #fafafa;
}
.header__navbar-user-item--separate{ 
    border-top: 1px solid rgba(0, 0, 0, 0.05);

}
.header__navbar-item,
.header__navbar-item-link
{
    font-size: 1.3rem;
    color :var(--while-color);
    /*Bỏ dấu gạch chân*/
    text-decoration : none;
    font-weight: 300;
    z-index: 2;
}

.header__navbar-item--strong{
    font-weight: 400 ;
}

/*Header sort bar mobile*/
.header__sort-bar{
    position: fixed;
    top:var(--header-height);
    right: 0;
    left: 0;
    height: var(--header-sort-mobile);
    background-color: var(--while-color);
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}
.header__sort-item{
    flex: 1;
    
}
.header__sort-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-mobile);
    text-align:center;
    position: relative;
}
.header__sort-link::before{
    position: absolute;
    content: '';
    top:50%;
    left: 0;
    height: 60%;
    border: 1px solid #e5e5e5;
    transform: translateY(-50%);
}
.header__sort-item:first-child .header__sort-link::before{
    display: none;
}
/*Làm thanh dọc đằng sau đăng kí và  */
.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 12px;
    background-color: #fb9086;
    right :-9px;
    top :50%;
    transform: translateY(-80%);
}
/*Làm cho chữ mờ đi*/
.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover
{
    color:rgba(255,255,255, 0.7) ;
    cursor: pointer;
}
/*Icon*/
.header__navbar-icon-link{
    color: var(--while-color);
    text-decoration: none;
}
.header__navbar-icon-link:nth-child(2){
    margin-left: 3px;
}
.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;

}
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    align-items:center;

}
.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--while-color);
}
/*Làm QR code*/
.header__qr{
    background-color: var(--while-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.header__qr::before{
    position: absolute;
    left: 0;
    top:16px;
    content: "";
    width: 100%;
    height: 20px;
    display: block;
    animation:fadeIn ease-in 0.3s;
}
/*Ẩn hiện Qr code*/
.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}
.header__qr-img{
   width: 100%;
}
.header__qr-apps{
    display: flex;
    justify-content: space-between;
}
.header__qr-dowloads-img{
   height: 16px;
}
.header__qr-link:nth-child(1){
    margin-left: 11px;
}
.header__qr-link:nth-child(2){
    margin-right: 11px;
}
/*Header notification*/
.header__notify{
    position:absolute;
    top: 118%;
    width: 404px;
    background-color: var(--while-color);
    right : 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: default;
    /*Chỉnh tâm của animation*/
    transform-origin: calc(100% - 32px) top;
    animation: headernotifyGrowth ease-in 0.2s;
    /*Khai báo này sẽ tối ưu chuyển động animation*/
    will-change: opacity , transform;
    display: none;
    border-radius: 2px;
}

/*Tạo mũi tên */
.header__notify::before{
    content: "";
    border-width: 20px 26px;
    border-style:  solid;
    border-color: transparent transparent  var(--while-color) transparent;
    position:absolute;
    right: 0px;
    top: -29px;
}
/*Tăng trải nghiệm người dùng từ quả chuông đi xuống*/
.header__notify::after{
    content: "";
    display: block;
    width: 90px;
    right: 0;
    top: -16px;;
    height: 20px;

}
/*Animation của thông báo */
@keyframes headernotifyGrowth{
    from{
        opacity: 0;
        /*Độ lớn lên (phóng to thu nhỏ)*/
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}


.header__notify-header{
    height: 40px;
    background-color: var(--while-color);
}
.header__notify-header h3{
    color:#999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    /*Để dòng không copy và nhấn vào được*/
    user-select: none;
}
.header__notify-list{
    padding-left: 0;
}
.header__notify-list--wiewed{
    background-color:rgba(238, 77, 45,0.08);
}
.header__notify-item{
   display: flex;
}
.header__notify-item:hover{
    background-color: #f7f7f7;
}
.header__navbar-item--noti:hover .header__notify{
    display: block;
}
.header__notify-link{
   display: flex;
   text-decoration: none;
   padding: 12px;
   width: 100%;
}
.header__notify-img{
  width: 48px;
  height: 28px;
  /*Giống backgroud size : contain*/
  object-fit: contain;
}
.header__notify-info{
    margin-left: 12px;
}
.header__notify-name{
   display: block;
   font-size: 1.4rem;
   color: var(--text-color);
   font-weight: 400;
   line-height: 1.8rem;
}
.header__notify-descriotion{
    display: block;
    font-size:1.2rem ;
    line-height: 1.6rem;
    color : #756f6e;
    margin-top: 4px;
}
.header__notify-footer{
    display: flex;
}
.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 10px 0;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}
/*Authen modal*/
.auth-form{
    width: 500px;
    border-radius: 5px;
    background-color: var(--while-color);
    /*Khi thẻ con vượt quá thẻ cha thì bỏ phần con*/
    overflow: hidden;
}
.auth-form__container{
    padding: 0 32px;
}
.auth-form__header{
    display: flex;
    /*Căn giữa*/
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top:10px;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}
.auth-form__form{
    margin-top: 16px;
}
.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color) ;
    border-radius: 2px;
    outline: none;

}
/*Đổi màu khung đăng kí khi nhấn vào*/
.auth-form__input:focus{
    border-color: #888;
}
.auth-form__policy-text{
    font-size:1.4rem ;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form__aside{
    margin-top: 18px;
}
.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);
}
.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
.auth-form__controls-back{
    margin-right: 8px;
}
.auth-form__socials{
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}
.auth-form__socials-icon{
    font-size: 1.8rem;
}
.auth-form__socials--facebook{
    background-color: #3a5a98;
    color: var(--while-color);
}
.auth-form__socials--facebook
.auth-form__socials-icon{
    color: var(--while-color);
}
.auth-form__socials--google{
    background-color: var(--while-color);
    color:#666;
}
.auth-form__socials-title{
    margin: 0 36px;
}
.auth-form__help{
    display: flex;
    justify-content: flex-end;
   
}
.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
    padding-top: 4px;
}
.auth-form__help-separate{
    display: block;
    border-left: 1px solid #777;
    margin: 2px 16px 0px;
    height: 22px;
}
.auth-form__help-forgot{
    color: var(--primary-color);
}
/*Header-search*/
.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}


.header__logo{
    width: 200px;
}
.header__logo-link{
    color: transparent;
    text-decoration: none;
    line-height: 0;
    display: block;
}
.header__logo-img{
    width: 150px;
    color:var(--while-color)
}
.header__search{
    background-color: var(--while-color);
    height: 40px;
    flex:1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.header__cart{
   width: 150px;
   text-align: center;
   margin-top: 6px;
}
.header__cart-icon{
    color: var(--while-color);
    font-size: 2.4rem;
    margin-top: 6px;
}
.header__cart-list{ 
    position: absolute;
    top:100%;
    right: -3px;
    background-color: var(--while-color);
    width: 400px;
    border-radius:2px ;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    animation: fadeIn ease 0.2s;
    cursor: default;
    display: none;
    z-index: 1;
} 

/*CSS Has cart*/
.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
    user-select: none;
}
.header__cart-img{
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #e8e8e8;

}
.header__cart-list-item{
     padding-left: 0;
     list-style: none;
     /*70% chiều cao trình duyệt*/
     max-height: 50vh;
     overflow-y: auto;
}
.header__cart-item{
    display: flex; 
    align-items: center; 
}
.header__cart-item:hover{
    background-color: #f8f8f8;
}
.header__cart-item-info{
    width: 100%;
}
.header__cart-item-head,
.header__cart-item-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 12px;
}
.header__card-item-name{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    overflow: hidden;

}
.header__cart-item-price{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary-color);
    font-weight: 400;
}
.header__cart-item-multiply{
    color: #757575;
    font-size: 0.9rem;
    margin-top: 0 4px;
    color:#757575;
}
.header__cart-item-qnt{
    color:#757575;
    font-size: 1.2rem;

}
.header__cart-item-description{
    color:#757575;
    font-size: 1.2rem;
    font-weight: 300;
}
.header__cart-item-remote{
    color:var(--text-color);
    font-size: 1.4rem;
}
.header__cart-item-remote:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.header__cart-viewcart{
    float: right;
    margin: 0 12px 12px 0;
}
.header__cart-viewcart:hover{
    background-color: #ee4d2d;
}
/**/
.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 8px 8px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}
.header__cart-list::after{
    cursor: pointer;
    content: "";
    position: absolute;
    top: -24px;
    right: 3px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--while-color) transparent;
}
/*Cart */
.header__cart-no-cart-img{
    width: 40%;
    display: none;
}
.header__cart-list-no-cart-msg{
    display:none;
    font-size: 1.4rem;
    margin-top: 8px;
    color: var(--text-color);
}
.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.header__cart-notice{
    position: absolute;
    padding: 2px 7px;
    background-color: var(--while-color);
    font-size: 1.4rem;
    line-height: 1.2rem;
    border-radius: 8px;
    left: 26px;
    top: -12%;
    border: 2px solid #ee4d2d;
    color: #ee4d2d;
}
.header__cart-list--no-cart{
    padding: 24px 0;
}
.header__search-input-wrap{
    flex:1;
    height: 100%;
    position: relative;
}
.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}
.header__search-select{
    border-left: 1px solid #e8e8e8;
    padding-left:16px ;
    position: relative;
    cursor: pointer;
}
.header__search-select:hover .header__search-option{
    display: block;
}
.header__search-select-lable{
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-select-icon{
    font-size: 1.4rem;
    margin: 0 16px 0 8px;
    color: #8a7777;
    position:relative;
    top:1px;
}
.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height:34px;
    border-radius: 2px ;
    margin-right: 3px;
    width: 60px;
    outline: none;
}
.header__search-btn:hover{
    background-color:#f96c4f;
    cursor: pointer;
}
.header__search-btn-icon{
    font-size: 1.4rem;
    color:var(--while-color)
}
.header__search-option{
    position: absolute;
    right: 0;
    top: 122%;
    width: 130px;
    list-style: none;
    /*Tạo bóng cho thẻ*/
    box-shadow: 0 1px 2px rgb(226, 224, 224);
    padding-left: 0px;
    display: none;
    animation: fadeIn ease 0.2s;
    z-index: 1;
}
.header__search-option::after{
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    top:-10px;
}
.header__search-option-item{
    background-color: var(--while-color);
    border-radius: 2px;
    padding: 8px 8px;
}
.header__search-option-item:hover{
    background-color: #f6f5f5;
    cursor: pointer;
}
.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}
.header__search-option-item :first-child{
    border-top-left-radius: 2px;
    border-top-right-radius:3px ;
}
.header__search-option-item :last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius:3px ;
}
.header__search-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
   
}
.header__search-option-item--active  i {
    display: inline;
}
/*History*/
.header__search-history{
    position: absolute;
    top:108%;
    left: 0;
    width: 96%;
    background-color: var(--while-color);
    border-radius: 2px;
    box-shadow: 0 2px 5px rgb(167, 167, 167);
    display: none;
    overflow: hidden;
    z-index: 2;
}
.header__search-history-heading{
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__search-history-list{
   padding-left: 0;
   list-style: none;
   margin: 6px 0 0;
}
.header__search-history-item{
    height: 38px;
    padding: 0px 12px;
}

.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color:var(--text-color);
    line-height: 38px;
    display: block;
}
.header__search-history-item:hover{
    background-color: #fafafa;
}
/*Khi nhấn vào thẻ input thì thẻ history hiện ra*/
.header__search-input:focus ~ .header__search-history{
    display: block;
}

/*App Container*/
.app__container{
    background-color: #f5f5f5;
}
.app__content{
    padding-top:36px;

}
.category{
    background-color: var(--while-color);
    border-radius: 2px;
}
.category__heading{
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 12px 16px 0;
    margin-top: 0;
    text-transform: capitalize;
    font-weight: 300;
    padding-top: 16px;
}
.category-list{
    padding: 0 0 8px 0px;
    list-style: none;
}
.category-item {
    position: relative;
}
.category-item::before{
    content:"";
    border-top: 1px solid #897777;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
}
.category-item:first-child::before{
    display: none;
}
.category-item--active .category-item__link{
    color: var(--primary-color);
}
.category-item--active .category-item__link::after{
    content: "";
    position: absolute;
    border: 4px solid ;
    border-color: transparent transparent transparent var(--primary-color);
    left: 7px;
    top: 50%;
    transform: translateY(calc(-50% - 1px));
}
.category-item__link{
    position: relative;
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 8px 20px;
    display: block;
    transition: right linear 0.1s;
    right:0;
}
.category-item__link:hover{
    right: -4px;
    color: var(--primary-color);
}
/*Mobile category*/

.mobile-category__list{
    display: none;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
    
}
/*Ẩn thanh Kéo*/
.mobile-category__list::-webkit-scrollbar{
    display: none;

}
.mobile-category__item{
    /* Khi quá width thì sẽ có thanh kéo dài ra */
    flex-shrink: 0;
    margin-right: 10px;
}
.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link{
    background-color: #f11e5a;
}
.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link{
    background-color: #1e56f1;
}
.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link{
    background-color: #76f11e;
}
.mobile-category__link{
    --line-height:2rem;
    text-decoration: none;
    color: var(--while-color);
    font-size: 1.4rem;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    text-align: center;
    justify-content:  center;
    width: 110px;
    display: block;
    border-radius: 4px;
    font-weight: 300;
    overflow: hidden;
    display: -webkit-box;
    /*Dấu 3 chấm */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
    /*Không bị đổi màu khi select*/
    user-select: none;
    /*Bỏ phần highline*/
    -webkit-tap-highlight-color:transparent ;
    padding: 0 6px;
}
/*Home sort + fitter*/
.home-filter{
    display: flex; 
    background-color: rgba(0, 0, 0, 0.04);
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    position: relative;
}
.filter__lable{
    color: #555555;
   font-size: 1.4rem;
   margin-right: 16px;
}
.home-filter__btn{
  margin-right: 12px;
  min-width: 90px;
  background-color: var(--while-color);
}
.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter__page-num{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}
.home-filter__page-current{
    color: var(--primary-color);
}
.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height:32px;
}
.home-filter__page-btn:first-child{
   border-right:1px solid #eeeeee;
}
.home-filter__page-btn{
    flex :1;
    background-color: var(--while-color);
    display: flex;
    text-decoration: none;
}
.home-filter__page-icon{
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}
.home-filter__page-btn--disable{
    background-color:#f9f9f9;
    cursor:default;
}
.home-filter__page-btn--disable .home-filter__page-icon{
     color: #ccc;
}
.home-product{
    margin-bottom: 10px;
}
.home-product-item{
    margin-top: 10px;
    background-color: var(--while-color);
    position: relative;
    border-radius: 2px;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
    display: block;
    text-decoration: none;
}
.home-product-item:hover{
    box-shadow: 0 0.1rem 20rem 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);
}

.home-product-item__img{
    display: block;
    width: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name{
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    margin: 10px 10px 6px;
    /*Dài quá 2 dòng sẽ xuất hiện dấu . . .*/
    /*2 dòng thì height gấp đôi line- height*/
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /*Dùng cho 1 dòng khi vượt quá sẽ xuất hiện dấu 3 chấm*/
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}

.home-product-item__price{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old{
    margin-left: 10px;
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;

}

.home-product-item__price-current{
    font-size: 1.6rem;
    color:var(--primary-color);
    margin-left: 10px;

}

.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;

}
.home-product-item__like{
    font-size: 1.2rem;
}
.home-product-item__like--liked{
   color: var(--primary-color);

}

.home-product-item__rating{
    font-size: 0.8rem;
    color: #d5d5d5;
    margin: -1px 0 0 auto;
}

.home-product-item__origin{
    display: flex;
    justify-content:space-between ;
    margin: 3px 10px 0;
    color: #595959;
    font-weight: 300;
    font-size: 1.2rem;
}
.home-product-item__sold{
    font-size: 1.2rem;
    color: var(--text-color);
    padding-left: 4px;
}
.home-product-item__rating-gold{
    color: var(--star-gold-color);
}

.home-product-item__favorite{
    position: absolute;
    top: 10px;    
    left : -4px;
    color: var(--primary-color);
    /*Ăn theo màu của thẻ chính*/
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 8px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.home-product-item__favorite span {
    color: var(--while-color);
}
.home-product-item__favorite::after{
    content: "";
    position: absolute;
    margin: auto;
    top: 100%;
    left: 0px;
    border-top: 3px solid currentColor;
    border-left: 4px solid transparent;
    /*Tăng giảm độ sáng*/
    filter: brightness(60%);
}
.home-product-item__favorite i{
    font-size: 0.9;
    margin: 0 3px 0 6px;
    color: var(--while-color);
}
.home-product-item__sale-off{
    position: absolute;
    width: 40px;
    height: 36px;
    top:0;
    text-align: center;
    right: 0;
    background-color: rgba(255, 216, 64,0.94);
    border-top-right-radius:2px;
}

.home-product-item__sale-off-percent{
    font-weight: 600;
    color:var(--primary-color);
    font-size: 1.2rem;
    line-height: 1.2rem;
}

.home-product-item__sale-off-lable{
   font-size: 1.3rem;
   color: var(--while-color);
   line-height: 1.3rem;
   font-weight: 600;
}
.home-product-item__sale-off::before{
    position: absolute;
    top: 36px;
    right: 0;
    content: "";
    border-width: 0px 20px 4px ;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64,0.94) transparent rgba(255, 216, 64,0.94) ;
}
.home-product__pagination{
    margin-top: 50px;
    margin-bottom: 32px;
    padding-left: 0px;
}
/*Fotter*/
.footer{
    padding-top: 12px;
    border-top: 4px solid var(--primary-color);
    background-color: var(--while-color);
}
.footer__heading{
    font-size: 1.4rem;
    text-transform: capitalize;
    color: var(--text-color);
}
.footer-list{
    padding-left: 0;
    list-style: none;
}
.footer-item__link{
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(121, 105, 105);
    display: flex;
    padding: 2px 0px;
    align-items: center;
}
.footer-item__link:hover{
    color: var(--primary-color);
}
.footer-item__icon{
    font-size: 1.6rem;
    margin-top: -1px 8px 0 0;
}
.footer__dowload{
    display: flex;
}
.footer__dowload-qr{
    width: 80px;
    border: 1px solid var(--border-color);
    height: 80px;
}
.footer__dowload-apps{
   flex:1;
   margin-left: 16px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.footer__dowload-app-img{
    height: 20px;
}
.footer__dowload-apps-link{
    color: transparent;
    text-decoration: none;
}
.footer__bottom{
    background-color: #f5f5f5;
    padding: 12px 0;
    margin-top: 36px;
}
.footer__text{
    margin: 0;
    text-align: center;
    font-size: 1.4rem;
    color:#737373;
}
